{{/*
  CAUTION SHORTCODE
  Creates a caution admonition box to highlight important cautions or potential issues.
  
  Usage: 
  {{< caution >}}
  Incorrect wiring may damage your device. Double-check connections before powering on.
  You can include **Markdown** formatting within the caution.
  {{< /caution >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the caution box.
*/}}
<div class="admonition caution">
  <p class="admonition-title">Caution</p>
  {{ .Inner | .Page.RenderString}}
</div>