{{/*
  Important SHORTCODE
  Creates an "important" admonition box to highlight important cautions or potential issues.
  
  Usage: 
  {{< important >}}
  Incorrect wiring may damage your device. Double-check connections before powering on.
  You can include **Markdown** formatting within the block.
  {{< /important >}}
  
  Content:
  The content between the opening and closing shortcode tags will be displayed inside the block.
*/}}
<div class="admonition important">
  <p class="admonition-title">Important</p>
  {{ .Inner | .Page.RenderString}}
</div>
